.checkout {
  display: flex;
  gap: 2rem;
  padding: 2.5rem 10rem 15rem;
}

.checkout strong {
  color: var(--base-subtitle);
  font-size: 1.125rem;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  line-height: 130%;
  display: block;
  margin-bottom: 1rem;
}

.address {
  background-color: var(--base-card);
  padding: 2.5rem;
  border-radius: 6px;
  width: 40.625rem;
}

.address svg {
  color: var(--yellow-dark);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  display: flex;
  gap: 0.75rem;
}

.group:nth-child(2) input {
  width: 100%;
}

.group:nth-child(3) input:last-child {
  flex: 1;
}

.group:nth-child(4) input:nth-child(2) {
  flex: 1;
}

.group:nth-child(4) input:last-child {
  width: 3.75rem;
}

input {
  background-color: var(--base-input);
  border: 1px solid var(--base-button);
  color: var(--base-text);
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 130%;
}

input:focus {
  outline: 1px solid var(--yellow-dark);
}

input::placeholder {
  color: var(--base-label);
}

.payment {
  background-color: var(--base-card);
  padding: 2.5rem;
  margin-top: 0.75rem;
  border-radius: 6px;
  width: 40.625rem;
}

.payment select {
  display: none;
}

.payment svg {
  color: var(--purple);
}

.options {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.option {
  display: flex;
  background-color: var(--base-button);
  padding: 1rem;
  gap: 0.75rem;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 0.75rem;
  line-height: 160%;
  flex: 1;
}

.info {
  display: inline-flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.info > div {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.info span:nth-child(1) {
  color: var(--base-subtitle);
  line-height: 130%;
}

.info span:nth-child(2) {
  color: var(--base-text);
  font-size: 0.875rem;
  line-height: 130%;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--base-card);
  padding: 2.5rem;
  border-radius: 6px 44px 6px 44px;
  width: 28rem;
}

.coffee {
  display: inline-flex;
  justify-content: space-between;
  margin: 0.5rem 0.25rem;
}

.coffee > img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.25rem;
}

.coffeeInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.coffeInfo > span {
  color: var(--base-subtitle);
  line-height: 130%;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.actions .quantity {
  background-color: var(--base-button);
  border-radius: 6px;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem;
}

.actions .quantity button {
  border: none;
  color: var(--purple);
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  transition: color .3s;
  cursor: pointer;
}

.actions .quantity button:hover {
  color: var(--purple-dark);
}

.actions .quantity span {
  color: var(--base-title);
  font-size: 1rem;
  line-height: 130%;
}

.actions > button {
  background-color: var(--base-button);
  color: var(--base-text);
  display: flex;
  align-items: center;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 160%;
  transition: background-color .3s;
  cursor: pointer;
}

.actions > button:hover {
  background-color: var(--base-hover);
}

.actions button svg {
  color: var(--purple);
}

.coffee > span {
  color: var(--base-text);
  font-weight: 700;
  line-height: 130%;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--base-button);
}

table {
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 0.75rem
}

tr {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--base-text);
}

tr:not(:last-child) td:last-child {
  font-size: 1rem;
}

tr:last-child {
  color: var(--base-subtitle);
  font-size: 1.25rem;
  line-height: 130%;
  font-weight: 700;
}

.price > button {
  padding: 0.75rem 0.5rem;
  color: var(--white);
  background-color: var(--yellow);
  text-transform: uppercase;
  border-radius: 6px;
  line-height: 160%;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  width: 100%;
  transition: background-color .3s;
  cursor: pointer;
}

.price > button:hover {
  background-color: var(--yellow-dark);
}
