.card {
  border-radius: 6px 36px 6px 36px;
  background-color: var(--base-card);
  width: 256px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 1.25rem;
  align-items: center;
  transform: translateY(-5%);
}

.tags {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
}

.tags span {
  padding: 0.25rem 0.5rem;
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  border-radius: 100px;
  font-size: 0.625rem;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
}

.cardWrapper > strong {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--base-subtitle);
  width: 100%;
}

.cardWrapper > span {
  text-align: center;
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--base-label);
  margin-bottom: 2.0625rem;
  width: 100%;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buy > span {
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--base-text);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.buy > span > strong {
  font-family: 'Balloo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 130%;
}

.buy > div {
  display: flex;
  gap: 0.5rem;
}

.quantity {
  background-color: var(--base-button);
  border-radius: 6px;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem;
}

.quantity button {
  border: none;
  color: var(--purple);
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  transition: color .3s;
  cursor: pointer;
}

.quantity button:hover {
  color: var(--purple-dark);
}

.quantity span {
  color: var(--base-title);
  font-size: 1rem;
  line-height: 130%;
}

.buy > div > button {
  display: flex;
  color: var(--white);
  background-color: var(--purple-dark);
  border: none;
  align-items: center;
  border-radius: 6px;
  padding: 0.5rem;
  transition: background-color .3s;
  cursor: pointer;
}

.buy > div > button:hover {
  background-color: var(--purple);
}